div#overlayDiv {
    background-color: var(--overlay-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

div#popupDiv {
    background-color: var(--white);
    position: relative;
    width: 85%;
    height: 80%;
    padding: 20px;
    border: none;
    border: solid 1px var(--black);
    box-shadow: 5px 5px 0 var(--black),
                5px -5px 0 var(--black);
}

div#overlayDiv div#popupDiv button.overlayButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

div#popupDiv form.popup-form {
    display: flex;
    flex-direction: column;
}

div#popupDiv form.popup-form label {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

div#popupDiv form.popup-form input,
div#popupDiv form.popup-form select,
div#popupDiv form.popup-form textarea {
    padding: 10px;
    width: 90%;
    border: solid 1px var(--black);
    margin: 2px;
    height: 20px;
    box-sizing: content-box;
}

div#popupDiv form.popup-form div.checkboxes,
div#popupDiv form.popup-form div.dates {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
div#popupDiv form.popup-form label.checkbox-label {
    flex-direction: row;
}
div#popupDiv form.popup-form label.checkbox-label input,
div#popupDiv form.popup-form label.dates-label input {
    width: auto;
}
div#popupDiv form.popup-form div.dates label.dates-label {
    display: block;
}

div#popupDiv form.popup-form button {
    width: fit-content;
}

@media screen and (max-width: 768px) {
    
    div#popupDiv form.popup-form div.checkboxes,
    div#popupDiv form.popup-form div.dates {
        display: block;
    }

    div#popupDiv form.popup-form div.dates label.dates-label {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    div#popupDiv form.popup-form div.dates input {
        width: fit-content;
    }
}